body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #000000; /* Fundo cinza claro */
  color: #ffffff; /* Texto preto */
}
h1 {
  text-align: center;
}
#postTitle, #postContent {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px;
  box-sizing: border-box;
}
#postContent {
  height: 200px;
}
#postForm button {
  background-color: #007bff; /* Azul */
  color: #fff; /* Texto branco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#postForm button:hover {
  background-color: #0056b3; /* Azul mais escuro */
}
#postsContainer {
  margin-top: 20px;
}
.post {
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff; /* Fundo branco */
  box-shadow: 0 0 10px rgba(126, 126, 126, 0.918); /* Sombra suave */
  transition: transform 0.3s ease;
}
.post:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
}
.post h2 {
  color: #007bff; /* Azul */
  margin-bottom: 10px;
}
.post p {
  color: #666; /* Texto cinza */
}
.post button {
  background-color: #dc3545; /* Vermelho */
  color: #fff; /* Texto branco */
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.post button:hover {
  background-color: #c82333; /* Vermelho mais escuro */
}

.hidden {
  display: none;
}

/* feed */
main {
  max-width: 800px;
  margin: 0 auto;
}

/* botão “novo post” fixo no canto */
#newPostBtn {
  position: fixed;
  right: 20px;
  bottom: 470px;
  background-color: #007bff;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
}

#newPostBtn:hover {
  background-color: #0056b3;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header input#searchInput {
  margin-top: 10px;
  padding: 8px;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

